@import "tailwindcss";

.admin-title {
  font-size:3.5rem; font-weight: bold; color: #0D5A79
}
.admin-breadcumb{
  display: flex;
}
.admin-header{
  display: flex; justify-content: space-between; align-items: center;
}
.mt-6 {
  margin-top: 1.5rem;
}
.h-full {
  height: 100%;
}

.bg-primary-900 {
  background-color: #0d5a79;
}

.bg-primary-700 {
  background-color: #187dac;
}

.text-primary-900 {
  color: #0d5079;
}

.text-primary-700 {
  color: #187dac;
}


.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: #0D5A79;
    padding: 1rem 0 1rem 0;
}

@media(max-width: 886px) {
  .card-container{
    flex-direction: column;
    gap: 1rem;
  }
  .admin-title {
    font-size: 2rem;
  }
  .admin-breadcumb{
    display: none;
  }
  
  /* Responsive para el grid */
  [n-gi] {
    grid-column: span 24 !important;
  }
}